body
{
    overflow: hidden;  
    width: 100%;
    height: 100vh;
    display: flex;
    
}
.titulo
    {
        position: absolute;
        width: 100%;
        height: -100vh;
        top: 1%;
        left: 30%;
        display: flex;
        justify-content: top;
        justify-items: top;
        align-content: top;
        align-items: top;
        animation: rubberBand 5s;
        animation: bounceInDown 5s;
    }
footer {
    padding: 50px;
    text-align: center;
    color: white;
    position: absolute;
    width: 90%; 
    line-height: 100px;
    top: 75%;
  }

  table, th, td {
    border:px solid rgb(255, 255, 255);
  }

  a:link {
    color: rgb(253, 253, 253);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  .Barra1
  {
    position: absolute;
    top: 89%; 
    left: 555px;
  }
  .Barra2 
  {
    position: absolute;
    top: 89%; 
    left: 155px;
  }
  
  .Barra3 
  {
    position: absolute;
    top: 85%; 
    left: 555px;       
  }
  .Barra4 
  {
    position: absolute;
    top: 85%; 
    left: 155px;
  }
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }
  .tabelalogin
  {
    border: solid;
    border-width: 1px;
    border-spacing:5px ;
    padding: 0px; 
  }
  
  .nome
  {
    color: white;
    position:absolute;
    top: 35%;
    left: 40%;
  }
  .senha
  {
    color: white;
    position:absolute;
    top: 40%;
    left: 40%;
  }
  .nometxt
  {
    background-color: black;
    color: white;
    height: 25px;
    position:absolute;
    top: 35%;
    left: 45%;
  }
  .senhatxt
  {
    background-color: black;
    color: white;
    height: 25px;
    position:absolute;
    top: 40%;
    left: 45%;
  }
  .conteudo
  {
    width: 100%; /*largura */
    height: 100vh; /* VISUAL altura */
    display: flex;
    justify-content: space-around;
    justify-items: center;
    position: absolute;
    top: 50%; 
  }
  .botao
        {
            cursor: pointer;
            background-color: yellow;
            width: 100px;
            height: 50px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            position: absolute;
            top: 50%;
            left: 40%;
        }
 .criar_conta
 {
  cursor: pointer;
  background-color: yellow;
  width: 100px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
 }

 .disquete
   {
       position: absolute;
       height: 300px;
       left: 10%;
       top: 20%;
       animation: fadeInLeftBig 4s;
       
   }

   .disquete2
   {
       position: absolute;
       height: 300px;
       left: 70%;
       top: 20%;
       animation: fadeInRightBig 4s;
   }